{% load thumbnail %}

{% for image in images %}
<div class="float-start mx-2 mb-4" style="width:220px; height:300px; border-top:8px solid rgb(0,127,255); background:#eee;">
  <a href="{{ image.get_absolute_url }}">
    {% thumbnail image.image 300x300 crop="smart" as im %}
    <a href="{{ image.get_absolute_url}}">
      <img src="{{ im.url }}" alt="image" style="width:220px; height:220px" />
    </a>
  </a>
  <div class="p-2">
    <a href="{{ image.get_absolute_url }}" style="color:#333; text-decoration:none">
      {{ image.title }}
    </a>
  </div>
</div>
{% endfor %}