{% extends "base.html" %}
{% block title %}Reset your Password {% endblock %}
{% block content %}
 <h1 class="pb-2 mt-1 mb-3 text-center fw-bold" style="color:#333;">Reset your Password</h1>
 {% if validlink %}
   <p class="text-center" style="color:#888;">Please Enter a new password</p>
   <form method="post">
     {% csrf_token %}
     {{ form.as_p }}
      <p><input type="submit" value="Change your password"/></p>
   </form>
 {% else %}
   <p>The password reset link was invalid, Please request a new password reset below</p>
    <a href="{% url 'password_reset' %}" style="font-weight:bold; background:rgba(0,127,255);color:#fff; padding:10px 20px;font-size:14px;text-transform:uppercase;text-decoration:none;">Reset again</a>
 {% endif %}
 {% endblock %}

 